<div class="aspect-ratio-box animate__animated animate__fadeIn two_column" id="slide4">
	<div class="aspect-ratio-box-inner">
		<div class="row">
			<div class="col-12">
				<p class="title">Something</p>
			</div>
		</div>
		<div class="row column_wrapper">
			<div class="col-6 column">
				<div class="image"></div>
				<p class="bold">something else here because it's great</p>
				<p>something else here because it's great</p>
			</div>
			<div class="col-6 column">
				<div class="image"></div>
				<p class="bold">something else here because it's great</p>
				<p>something else here because it's great</p>
			</div>
		</div>
	</div>
</div>