<style>
	.intro_left, .intro_right {
		padding:100px 50px 0px 50px;
	}
	.box {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	.intro_left a {
		position: flex;
		width: 150px;
		left:calc(50% - 50px);
		background: black;
		border-radius: 4px;
		padding:10px;
	}
	.intro_right .row, .intro_right hr {
		padding-bottom:30px;
	}
</style>
<div class="row">
	<div class="col-lg-4 intro_left" >
		<h1>{{content.title}}</h1>
		<div class="box">
			<a href="/main/render_page/{{lesson_id}}/1/">go</a>
		</div>
	</div>
	<div class="col-lg-8 intro_right">
		<!-- <h3>{{content}}</h3> -->
		{% for key, value in content.parts.items %}
		<div class="row">
			<div class="col-md-4" >
				<h3 class="header">{{key}}</h3>
				<h3 class="time">{{value.time}}</h3>
			</div>
			<div class="col-md-8" >
				<h3 class="text">{{value.text|safe}}</h3>
			</div>
		</div>
		{% if forloop.last %}{% else %}<hr/>{% endif %}
		{% endfor %}
		
	</div>
</div>

