<div class="row">
	<div class="col-lg-5 slides_left" >
		
		{% for key, value in content.items %}
			{% if key == page_id %}

				{% for v in value %}
					{% if v.type == 'Speaker Notes' %}
			    		
			    		{% include 'main/1b_slideshow_notes.html' with text=v.text %}

			    	{% else %}

			    		{% include 'main/1b_slideshow_callout.html' with text=v.text type=v.type %}
			    	
			    	{% endif %}
				{% endfor %}

			{% endif %}
		{% endfor %}
		
	</div>
	<div class="col-lg-7 slides_right">
		
		<div class="action-container" style="float:right" id="fullscreen">
			<div class="action">
		  		<i class="material-icons">fullscreen</i>
			</div>
			<p>Full screen</p>
		</div>

		<div class="clearfix"></div>

		<div class="row justify-content-center" style="padding:15px">

			<div id="slide_container" {% if fs == True %} class="fullscreen" {% endif %}>
				<div class="aspect-ratio-box-outer">
					<div id="close_fs">close</div>
					{% include slide_template %}
				</div>
			</div>

			<div id="slide_hidden">
			</div>
			
		</div>
		
		<div class="action-container" style="float:left" id="previous">
			<div class="action">
		  		<i class="material-icons">keyboard_arrow_left</i>
			</div>
			<p>Previous</p>
		</div>

		{% if next %}
		<div class="action-container" style="float:right" id="next">
			<div class="action">
		  		<i class="material-icons">keyboard_arrow_right</i>
			</div>
			<p>Next</p>
		</div>
		{% endif %}

	</div>
</div>

<script>
	
</script>