<!DOCTYPE html>
<html lang="en">
<head>
	<title>Jumbotron Template for Bootstrap</title>
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<style>
		.navbar-default {
		    background-color: #Fff !important;
		    border-bottom: 1px solid #efefef;
		}
		nav p {
			margin: 0px;
			padding:5px 0px;
		}
		.slide_container {
		   background-color: black; #efefef87; 
		   position: relative;
		   width: 100%;
		   padding-top: 75%; /* 4:3 Aspect Ratio */
		   margin-top:calc(10vh)
		}

		.slide_text {
		   position:  absolute;
		   top: 0;
		   left: 0;
		   bottom: 0;
		   right: 0;
		   text-align: center;
		   font-size: 20px;
		   color: white;
		}


	</style>
</head>
<body>
	
	<nav class="navbar navbar-default" class="background:white;">
		<p style="padding-left:50px">Security > Lesson 1</p> 
	</nav>

	<!-- <main role="main"> -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 d-none d-lg-block" style="background: #efefef87; overflow-y: scroll" >
					<div style="width:100%; height:calc(100vh - 51px); float:left; margin: 0px; padding:50px;" >
						<h3 class="display-4">Hello, world!</h3>
						<p class="lead">
						  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
						</p>
						<p style="line-height: 30px">
						I'm baby vinyl viral yr health goth, hammock disrupt cardigan. Sustainable PBR&B synth bespoke adaptogen swag, bicycle rights subway tile next level XOXO YOLO bushwick poutine small batch cronut. Succulents aesthetic intelligentsia pug prism, polaroid roof party literally enamel pin edison bulb four dollar toast. Mustache adaptogen banh mi, cred selvage activated charcoal stumptown. Snackwave woke poke, VHS drinking vinegar mixtape ennui la croix before they sold out.
						</p>

						<h5 class="display-4" style="font-size:28px; padding-top:15px">Hello, world!</h5>
						<p class="lead">
						  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
						</p>
						<p style="line-height: 30px">
						Cliche gluten-free flexitarian literally. Organic vaporware tattooed, single-origin coffee you probably haven't heard of them tumblr kickstarter ennui glossier. Austin synth lyft, hella tbh brooklyn disrupt intelligentsia everyday carry. Roof party tbh ugh VHS hella. Echo park chartreuse slow-carb meggings selvage.

						Chillwave direct trade deep v try-hard mixtape ennui poutine meggings austin twee. Waistcoat franzen banh mi intelligentsia coloring book tousled listicle irony shoreditch XOXO. Brooklyn raclette VHS sartorial cold-pressed drinking vinegar heirloom live-edge jean shorts literally. Ethical leggings literally tbh craft beer cloud bread vegan poutine neutra narwhal fam flexitarian drinking vinegar locavore. Yuccie butcher skateboard, celiac direct trade semiotics gochujang pinterest pork belly. Selfies jianbing cold-pressed, tofu palo santo man bun dreamcatcher unicorn hexagon mlkshk listicle pinterest put a bird on it. Poutine tacos mlkshk, listicle PBR&B vinyl sustainable freegan ethical waistcoat keffiyeh vice.
						</p>

						<h5 class="display-4" style="font-size:28px; padding-top:15px">Hello, world!</h5>
						<p class="lead">
						  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
						</p>
						<p style="line-height: 30px">
						Activated charcoal affogato portland stumptown pug art party bespoke hashtag lyft fanny pack master cleanse gluten-free listicle. Narwhal knausgaard crucifix venmo, pop-up street art man bun quinoa normcore poutine. Quinoa cardigan vinyl gochujang blue bottle marfa. Ugh try-hard thundercats ethical, street art gochujang hashtag drinking vinegar crucifix organic pop-up roof party vinyl lomo unicorn.

						Yr fixie tofu, hoodie edison bulb craft beer messenger bag cornhole shoreditch fingerstache af raw denim pitchfork +1. Neutra YOLO tbh man braid fashion axe adaptogen bicycle rights, succulents skateboard locavore authentic. Helvetica trust fund cloud bread, craft beer wolf godard selvage wayfarers pop-up gluten-free. Craft beer man braid wolf lo-fi, wayfarers succulents typewriter occupy skateboard. Subway tile blue bottle hoodie viral fam. Selvage lyft forage paleo mlkshk try-hard.

						Dummy text? More like dummy thicc text, amirite?
						</p>

						<h5 class="display-4" style="font-size:28px; padding-top:15px">Hello, world!</h5>
						<p class="lead">
						  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
						</p>
						<p style="line-height: 30px">
						I'm baby vinyl viral yr health goth, hammock disrupt cardigan. Sustainable PBR&B synth bespoke adaptogen swag, bicycle rights subway tile next level XOXO YOLO bushwick poutine small batch cronut. Succulents aesthetic intelligentsia pug prism, polaroid roof party literally enamel pin edison bulb four dollar toast. Mustache adaptogen banh mi, cred selvage activated charcoal stumptown. Snackwave woke poke, VHS drinking vinegar mixtape ennui la croix before they sold out.

						Cliche gluten-free flexitarian literally. Organic vaporware tattooed, single-origin coffee you probably haven't heard of them tumblr kickstarter ennui glossier. Austin synth lyft, hella tbh brooklyn disrupt intelligentsia everyday carry. Roof party tbh ugh VHS hella. Echo park chartreuse slow-carb meggings selvage.

						Chillwave direct trade deep v try-hard mixtape ennui poutine meggings austin twee. Waistcoat franzen banh mi intelligentsia coloring book tousled listicle irony shoreditch XOXO. Brooklyn raclette VHS sartorial cold-pressed drinking vinegar heirloom live-edge jean shorts literally. Ethical leggings literally tbh craft beer cloud bread vegan poutine neutra narwhal fam flexitarian drinking vinegar locavore. Yuccie butcher skateboard, celiac direct trade semiotics gochujang pinterest pork belly. Selfies jianbing cold-pressed, tofu palo santo man bun dreamcatcher unicorn hexagon mlkshk listicle pinterest put a bird on it. Poutine tacos mlkshk, listicle PBR&B vinyl sustainable freegan ethical waistcoat keffiyeh vice.
						</p>

						<h5 class="display-4" style="font-size:28px; padding-top:15px">Hello, world!</h5>
						<p class="lead">
						  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
						</p>
						<p style="line-height: 30px">
						Activated charcoal affogato portland stumptown pug art party bespoke hashtag lyft fanny pack master cleanse gluten-free listicle. Narwhal knausgaard crucifix venmo, pop-up street art man bun quinoa normcore poutine. Quinoa cardigan vinyl gochujang blue bottle marfa. Ugh try-hard thundercats ethical, street art gochujang hashtag drinking vinegar crucifix organic pop-up roof party vinyl lomo unicorn.

						Yr fixie tofu, hoodie edison bulb craft beer messenger bag cornhole shoreditch fingerstache af raw denim pitchfork +1. Neutra YOLO tbh man braid fashion axe adaptogen bicycle rights, succulents skateboard locavore authentic. Helvetica trust fund cloud bread, craft beer wolf godard selvage wayfarers pop-up gluten-free. Craft beer man braid wolf lo-fi, wayfarers succulents typewriter occupy skateboard. Subway tile blue bottle hoodie viral fam. Selvage lyft forage paleo mlkshk try-hard.

						Dummy text? More like dummy thicc text, amirite?
						</p>
						
					</div>
				</div>
				<div class="col-lg-6">
					<div style="position:absolute; top:5px; right:15px; border-radius: 20px; background:#efefef87; padding:10px;">full screen</div>
					<div class="row justify-content-center" style="padding:15px">
						<!-- <div style="background: #efefef87; height:60vh; width:90%; margin-top:calc(15vh)">
						</div> -->

					<div class="slide_container"> 
					 <div class="slide_text">4:3 Aspect ratio</div> 
					</div>

						<br/>
						<h3 class="display-4" style="width:100%; text-align: center"> << >> </h3>
					</div>
				</div>
			</div>
			<!-- <div class="jumbotron" style="background: #efefef87; width:50%; height:100vh; float:left; margin: 0px">
				<h1 class="display-5">Hello, world!</h1>
				<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			</div> -->

			<!-- <div>
				
				<div style="background: #efefef87; width:50px; height:10px; float:right"></div>


			</div> -->
		</div>

		<!-- </div> -->
	<!-- </main> -->
</body>
</html>